<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAIAPIKey</key>
	<string>Open api keys 

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</string>
</dict>
</plist>
